header{
    color: rgb(255, 255, 255);
    background-color: rgb(58, 109, 143);

    text-align: center;
    padding: 1em;

    font-size: 2em;
}

table{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.tabela{
    display: flex;
}
